.daily-forecast-container {
    margin-top: 1.5rem;
}

.daily-forecast-container h5 {
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
}

.daily-forecast {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
}

.daily-forecast div {
    background-color: hsl(243, 27%, 20%);
    width: 12.5%;
    border-radius: 0.7rem;
    color: #fff;
    text-align: center;
    padding: 0.4rem 0;
    height: 5.5rem;
}

.daily-forecast div p, span {
    font-size: 0.7rem;
}

.daily-forecast div img {
    width: 40px;
   display: block;
    margin: 0 auto;
}

.daily-forecast div span {
    margin: 0.4rem;
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 767px) {
    .daily-forecast div {
        width: 32%;
        margin-top: 0.5rem;
    }
}