.header {
  display: flex;
    justify-content: space-between;
}

.units-dropdown-button {
  display: flex;
  align-items: center;
  justify-content: center;
    gap: 0.5rem;
    color: #fff;
    background-color: hsl(243, 27%, 20%);
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.units-dropdown-button:hover {
  background-color: hsl(243, 27%, 30%);
}

.units-dropdown-button img:last-child {
  transition: transform 0.3s ease;
}

.units-dropdown-button.open img:last-child {
  transform: rotate(180deg);
}

.units-dropdown-content {
  position: absolute;
  background-color: hsl(243, 27%, 20%);
  right: 150;
  border-radius: 0.6rem;
  margin-top: 0.5rem;
  padding-top: 0.6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 10rem;
  transition: all 0.3s ease-out;
  transform-origin: top;
  opacity: 1;
  transform: translateY(0) scaleY(1);
}

.units-dropdown-content.closing {
  opacity: 0;
  transform: translateY(-10px) scaleY(0.8);
}

.units-dropdown-content button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  font-size: 0.7rem;
  padding: 0.5rem 0.5rem;
  color: #fff;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.units-dropdown-content button:hover {
  background-color: hsl(243, 23%, 24%);
  border-radius: 0.4rem;
}

.units-dropdown-content button.selected {
  background-color: hsl(243, 23%, 24%); 
}

.units-dropdown-content div {
  
  padding: 0.5rem 0 0.3rem 0;
}

.units-dropdown-content div p {
  font-size: 0.7rem;
  padding: 0 0.8rem;
  margin-bottom: 0.4rem;
  color: hsl(240, 6%, 70%);
}

hr {
  border: none;
  border-top: 1px solid hsl(243, 23%, 24%);
  margin: 0.3rem 0;
  width: 90%;
  margin: 0 auto;
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 767px) {
  .units-dropdown-content {
    right: 15;
  }
}

/* TABLET */
@media (min-width: 601px) and (max-width: 1024px) {
 .units-dropdown-content {
  right: 15;
 }
}