.search-container {
    text-align: center;
    margin-top: 1rem;
}

.search-container h1 {
    color: #fff;
    margin-bottom: 2rem;
}

.search-input {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.search {
    background-color: hsl(243, 27%, 20%);
    width: 300px;
    height: 38px;
    border: 1px solid transparent;
    border-radius: 8px;
    display: flex;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.search:focus-within {
  border: 1px solid #fff;   /* Example border */
box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);}

.search img {
    width: 15px;
    margin-right: 0.8rem;
    margin-left: 0.5rem;
}

.search input {
    background: none;
    border: none;
    width: 252px;
    height: 38px;
}

.search input:focus {
    border: none;
    outline: none;
    color: #fff;
}

.search input::placeholder {
    color: hsl(250, 6%, 84%);
}

/* Chrome */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

/* Firefox */
input[type="search"]::-moz-search-clear {
  display: none;
}

.search-input button {
    background-color: hsl(233, 67%, 56%);
    border: 1px solid transparent;
    width: 4rem;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-input button:hover {
    outline: 1px solid hsl(233, 67%, 56%);
  outline-offset: 2px;
  box-shadow: 0 0 12px rgba(59, 91, 255, 0.5);
}