.search-container {
  text-align: center;
  margin-top: 0.1rem;
}

.search-container h1 {
  color: #fff;
  margin-bottom: 1rem;
}

.search-input {
  display: flex;
  justify-content: center;
  gap: 2%;
}

.search {
  background-color: hsl(243, 27%, 20%);
  width: 300px;
  height: 38px;
  border: 1px solid transparent;
  border-radius: 8px;
  display: flex;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.search:focus-within {
  border: 1px solid #fff; /* Example border */
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
}

.search img {
  width: 15px;
  margin-right: 0.8rem;
  margin-left: 0.5rem;
}

.search input {
  background: none;
  border: none;
  width: 252px;
  height: 38px;
  color: #fff;
}

.search input:focus {
  border: none;
  outline: none;
  color: #fff;
}

.search input::placeholder {
  color: hsl(250, 6%, 84%);
}

/* Chrome */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

/* Firefox */
input[type="search"]::-moz-search-clear {
  display: none;
}

.search-input button {
  background-color: hsl(233, 67%, 56%);
  border: 1px solid transparent;
  width: 4rem;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-input button:hover {
  outline: 1px solid hsl(233, 67%, 56%);
  outline-offset: 2px;
  box-shadow: 0 0 12px rgba(59, 91, 255, 0.5);
}

/* Search Results Dropdown */
.searching-state {
  background-color: hsl(243, 27%, 20%);
  width: 300px;
  margin-top: 0.5rem;
  position: absolute;
  left: 440;
  text-align: left;
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.searching-state img {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-results {
  background-color: hsl(243, 27%, 20%);
  width: 300px;
  margin: 0 auto;
  margin-top: 0.5rem;
  position: absolute;
  left: 440;
  border-radius: 8px;
}

.city-result {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 0.5rem;
  padding: 1rem 0.3rem;
  height: 1.7rem;
  border-radius: 8px;
  width: 95%;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.city-result:first-child {
  margin-top: 0.5rem;
}

.city-result:last-child {
  margin-bottom: 0.5rem;
}

.city-result:hover {
  background-color: #302f4a;
}

.city-result strong,
span {
  color: #d4d3d9;
}

.city-result strong {
  margin-right: 0.5rem;
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 767px) {
  .search-container h1 {
    margin: 1rem 0 2rem 0;
  }

  .search-input {
    flex-direction: column;
  }

  .search {
    width: 100%;
  }

  .search-input button {
    width: 100%;
    height: 38px;
    margin-top: 1rem;
  }

  .searching-state {
    left: 10;
    width: 90%;
    margin-left: 0.5rem;
  }

  .search-results {
    left: 10;
    width: 90%;
    margin-left: 8px;
  }
}
