.general-report {
  background-image: url("/images/bg-today-large.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35rem;
  height: 11rem;
  padding: 1rem;
  border-radius: 0.7rem;
}

.report-details-loading {
  background-color: hsl(243, 27%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35rem;
  height: 11rem;
  border-radius: 0.7rem;
  text-align: center;
  color: #fff;
}

.loading-report {
  display: inline-flex;
  gap: 4px;
}

.loading-report span {
  animation: bounce 0.6s infinite;
   font-size: 30px;
}

.loading-report span:nth-child(1) {
  animation-delay: 0s;
}
.loading-report span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-report span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-3px);
  }
}

.report-details {
  color: #fff;
}

.report-details h3 {
  margin-bottom: 0.5rem;
}

.weather-degree {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-degree img {
  width: 60px;
}

.weather-degree h1 {
  font-size: 3rem;
  color: #fff;
  font-style: italic;
}

.metrics {
  display: flex;
  gap: 2%;
  margin-top: 0.7rem;
  flex-wrap: wrap;
}

.metrics-details {
  background-color: hsl(243, 27%, 20%);
  padding: 0.7rem;
  border-radius: 0.7rem;
  width: 23.5%;
}

.metrics-details p {
  color: hsl(250, 6%, 84%);
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.metrics-details h2 {
  color: #fff;
  font-size: 1.1rem;
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 767px) {
  .general-report {
    background-image: url("/images/bg-today-small.svg");
    width: 100%;
    height: 15rem;
  }

  .report-details-loading {
    width: 100%;
    height: 15rem;
  }

  .metrics-details {
  width: 49%;
  margin-top: 0.8rem;
}
}

/* TABLET */
@media (min-width: 601px) and (max-width: 1024px) {
    .general-report {
    width: 100%;
  }
}
