* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(243, 96%, 9%);
  overflow: hidden;
}

.general-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.loading-location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 10px;
}

.loading-location img {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-location p {
  color: #fff;
  font-size: 1.5rem;
}